<?xml version="1.0" ?>
<settings>
    <main>
        <base_url>http://localhost:8080</base_url>
        <environment>vagrant</environment>
        <scheme>http://</scheme>
        <domain>dev.com</domain>
        <upload_directory>/var/www/uploads</upload_directory>
    </main>
    <twig>
        <path>/var/www/repo/src/private/templates/</path>
        <cache>
            <enabled>0</enabled>
            <path>/var/www/cache/templates</path>
        </cache>
        <debug>1</debug>
    </twig>
    <databases>
        <pdo>
            <mysql>
                <host>localhost</host>
                <user>behat</user>
                <password>behat</password>
                <port>3306</port>
                <database>behat</database>
                <development_mode>true</development_mode>
            </mysql>
        </pdo>
    </databases>
    <router>
    </router>
    <authentication>
        <dependencies>
            <user_factory>factories,users</user_factory>
            <user_gateway>user_gateway</user_gateway>
        </dependencies>
        <providers>
            <username_password>
                <enabled>1</enabled>
                <username_field>login_username</username_field>
                <password_field>login_password</password_field>
                <remember_password_field>login_remember</remember_password_field>
                <remember_password_yes_value>1</remember_password_yes_value>
            </username_password>
            <session>
                <enabled>1</enabled>
                <name>demo_auth</name>
            </session>
            <cookie>
                <enabled>1</enabled>
                <names>demo_user_id,demo_cookie_hash</names>
                <user_id_cookie_name>demo_user_id</user_id_cookie_name>
                <user_hash_cookie_name>demo_cookie_hash</user_hash_cookie_name>
            </cookie>
            <api>
                <enabled>1</enabled>
            </api>
            <twitter>
                <enabled>0</enabled>
            </twitter>
            <facebook>
                <enabled>0</enabled>
            </facebook>
        </providers>
    </authentication>
</settings>
